[2012-12-07 05:20] webknjaz opened #1 "Contacts JSON-RPC"
Implement 'kostyl' to interact between GAS and DB.

[2013-05-10 06:45] webknjaz opened #2 "Regform locale"
Implement locate restriction for latin.

[2013-05-10 06:46] webknjaz opened #3 "DB latin"
change all DB objects' locale to latin1 and do the same for sqlalchemy models.

[2013-05-10 06:50] webknjaz opened #4 "API and node.js"
synchronize an API behavior with https://github.com/GDG-Ukraine/gdgregform

API endpoints list:
* [x] `GET /api/info`
* [x] `GET /api/places`
* [x] `GET /api/events/:id`
* [x] `POST /api/events/` <- [here](https://github.com/GDG-Ukraine/gdgregform/blob/master/server/api/gevents.js#L64) it is `/api/events` (w/o trailing slash)
* [x] `PUT /api/events/:id`
* [x] `DELETE /api/events/:id`
* [x] `GET /a

[2013-05-10 06:51] webknjaz opened #5 "Google API"
Implement an interface for interaction with Google services.

[2013-05-10 06:55] webknjaz opened #6 "Google OAuth2"
Check some Google OAuth2 package, enable and bind to the /auth handler.
https://developers.google.com/identity/protocols/OAuth2WebServer
https://developers.google.com/api-client-library/python/
https://pypi.python.org/pypi/google-api-python-client
- [X] CherryPy plugin bf9a98bb6d936b13e0b6728ba80435fad2440ee1
- [X] Admin auth similar to existing one `auth` branch
- [X] Secure api endpoints #46 64b

[2013-05-10 12:00] webknjaz opened #7 "Position field length"
Extend to 64 chars.

[2013-05-10 12:00] #7 closed, assigned to webknjaz

[2013-05-11 11:28] webknjaz opened #8 "Object existence checks"
Prevent exceptions raised by calling methods of NoneObjects.

[2013-05-11 11:47] #8 closed, assigned to webknjaz

[2013-05-11 11:48] webknjaz opened #9 "Decode NULL-JSON field into an empty list"
$sbj.

[2013-05-11 11:48] #9 closed, assigned to webknjaz

[2013-05-11 14:11] webknjaz opened #10 "Official pages"
## Objective

Provide more legal info to website users.

## Problem

There is no information like who we (GDG) are or what are the terms of use of the regform. There is also no disclaimer, that GDG cannot be related to Google Inc. We have to provide that information on the website.
## TODO

As there is no actual text (@webknjaz, please request that pages content) right now, the only thing can be d

[2013-07-06 17:42] webknjaz opened #11 "Google+ Sign-In"
Implement $sbj.
#41

[2013-07-11 08:53] webknjaz opened #12 "Queue"
Implement $sbj for registrations.

[2013-09-13 15:26] olostan opened #13 "Implement different type of custom fields"
Now custom fields in event have 'type' field with three possible values: 'text', 'checkbox' and 'select'.

In case if type is 'select' there is 'options' array with possible options.

Contact form should visualize these types

[2013-09-22 13:10] zasadnyy opened #14 "Add explanation why form is so long"
We need to inform users that this form will be so long only first time, next time when they will register, fields will be populated automatically

[2013-09-24 15:22] olostan opened #15 "Hide some fields of registration form"
In ```event``` table there is field ``hidden`` with comma separated list of fields that should be not shown on this event registration form.

[2013-10-02 13:53] webknjaz opened #16 "[FR] Mailing list"
Implement/choose/install $sbj.
Probably gmail acc with SMTP would be enough while we don't have huge amount attendees. It has 400 sent mails per day limit. However there are over 4000 in our DB.
That's a topic for discussions.

[2013-10-02 15:31] webknjaz opened #17 "Custom field values at reg moment"
Save questions into object while submitting a form.

[2013-10-23 19:34] zasadnyy opened #18 "UI bug during additional registration"
There is no need to show "Registration is closing soon" during additional registration.
Screenshot http://monosnap.com/image/MxPrQ5CP7W9Lu6T5lHB0v6sTa
![Form screenshot](https://monosnap.com/file/MxPrQ5CP7W9Lu6T5lHB0v6sTa.png)

[2013-10-23 19:34] zasadnyy opened #19 "Add possibility to send emails from custom email"
Now emails are sent from admin's personal email. We need to add possibility to define custom email, e.g. devfest[at]gdg.org.ua

[2013-10-23 19:37] zasadnyy opened #20 "Shared regforms"
We need to be able to share events among several gdg organizers (or better gdg chapters). Good example is registration for devfest, when at least 2 groups are involved in registration process

[2013-10-23 19:40] #20 closed, assigned to nobody

[2014-10-21 19:00] webknjaz opened #21 "Add XS tee shirt size to model/DB"
depends on #24

[2015-04-27 08:55] cleac opened #22 "Add possibility to customize hints of built-in form fields"
I need to change the built-in hint, but I can't =( Plus, it would be great if you add pussibility to make such hints for custom fields too

[2015-04-27 09:02] cleac opened #23 "Fix adding custom field of type "Select""
Now, when I add options to custom field of type "Select", they don't save. But it's really needed thing in such kind of registration form

[2015-04-27 10:59] webknjaz commented on #23
I guess it's because of our yesterday's fixes w/ @OlexandrKovalchuk. Angular app doesn't initialize because of some syntax error. I'm checking this right now.

[2015-04-27 11:01] webknjaz commented on #22
You may patch `templates/register.html` if you need this ASAP. The admin UI is in a sister-repository https://github.com/GDG-Ukraine/gdgregform

[2015-04-27 11:29] webknjaz commented on #23
Fixed. (I think)

[2015-04-27 11:29] #23 closed

[2015-04-28 06:45] webknjaz opened #24 "TODO: integrate some SQLAlchemy migrations package"
Use this one: http://alembic.readthedocs.org/en/latest/

[2015-04-28 06:47] webknjaz commented on #15
TODO: check whether this works on registration page front-end.
@OlexandrKovalchuk

[2015-04-28 10:00] webknjaz opened #25 "TODO: draw custom logo for GDG KPI"
$sbj.
/cc: @ValeryP

[2015-04-28 10:52] ValeryP commented on #25
![gdg_kpi](https://cloud.githubusercontent.com/assets/3534020/7368135/c7442fc0-edad-11e4-9614-b14be28c91f5.png)

[2015-04-28 10:55] ValeryP commented on #25
http://storage1.static.itmages.com/i/15/0428/h_1430218534_7348638_f05f211c08.png

[2015-04-28 11:50] webknjaz commented on #25
@ValeryP plz commit it to https://github.com/GDG-Ukraine/gdg.org.ua/tree/master/static/img/logos

[2015-04-29 16:25] webknjaz opened #26 "TODO: mailchimp and mandrill integrations"

[2015-04-30 14:27] #25 closed

[2015-04-30 19:05] webknjaz commented on #25
@ValeryP I've deployed this pic, but keep in mind it's not transparent and out-of-style.

[2015-04-30 19:06] webknjaz opened #27 "Add OpenGraph meta tags"
I think it will be nice to make events share-friendly.

[2015-04-30 20:24] #13 closed

[2015-05-02 10:20] #24 closed

[2015-05-02 10:21] #21 closed

[2015-05-02 20:06] webknjaz commented on #22
@cleac should the customization be global for all forms or event-specific?

[2015-05-03 04:39] cleac commented on #22
I think global. I should be better to change fields when needed than change them every event

[2015-05-03 19:11] webknjaz opened #28 "Add model for `gdg_admins` table"

[2015-05-04 12:52] #28 closed

[2015-05-04 22:31] webknjaz opened #29 "Integrate form validator"
https://github.com/Deepwalker/trafaret

And/or `wtform-alchemy`.

[2015-05-05 13:56] cleac commented on #19
So why not to discuss here =) I agree with zasadnyy, that's good idea. =)

[2015-05-05 13:59] webknjaz commented on #22
Waiting for @bluebirrd's comments on this.

[2015-05-13 19:45] webknjaz commented on #29
or https://cerberus.readthedocs.org/en/latest/

[2015-05-13 19:46] webknjaz commented on #29
/cc: @OlexandrKovalchuk

[2015-05-15 11:19] webknjaz commented on #18
@bluebirrd what's your opinion?

[2015-05-17 15:55] bluebirrd commented on #18
I think that it's absolutely unnecessary. Invitation link works regardless of form status.

[2015-05-17 21:32] webknjaz commented on #18
@bluebirrd full answer plz, I didn't understand your point clearly.

[2015-05-18 18:03] bluebirrd commented on #18
If you receive an invitation link for registration on the event, it works anyway, no matter if the form is closed for others at the moment or not. So, I think that showing the text "Registration is closing soon!" makes no sense and this element can me removed.

[2015-05-18 18:06] webknjaz commented on #18
It's shown in case if there are less than 5 places left.

[2015-05-18 18:59] bluebirrd commented on #18
OK, let's take a look at current situation. Registration to I/O Extended has already exceeded it's limit, but still I can generate an invitation code and send it to someone, so this person car register **even though** all the places are already taken. If the amount of available spots is (limit - registeredPeople), then for now it has negative value. If it is a negative integer, then we can assume

[2015-05-18 19:12] webknjaz commented on #18
https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/templates/register.html#L133-L137

[2015-05-18 19:42] webknjaz opened #30 "Implement export into Excel file"
Export all event participants w/ their answers into downloadable file.

[2015-06-19 20:40] anxolerd opened #31 "Hardcoded absolute paths in config"
There are hardcoded absolute paths in config files, that makes this app not-so-easy-to-setup.

TODO: make paths relative

[2015-06-19 21:52] anxolerd commented on #29
Any requirements for it?

[2015-06-19 21:54] anxolerd commented on #3
why not UTF?

[2015-06-20 10:08] webknjaz commented on #3
It was originally aimed to restrict data in DB to English only.

[2015-06-20 10:13] webknjaz commented on #29
It's not about DB schemas. It's about data validation on input.

Yet another example of validation framework is LIVR by WebbyLab (you saw speech of its CTO @ KyivJS)
http://livr-spec.org/

[2015-06-20 10:34] webknjaz commented on #31
This will require changing of my blueberrypy fork to
https://bitbucket.org/webknjaz/blueberrypy-wk

[2015-06-25 20:12] anxolerd opened #32 "Error code 500 on /events (w/o trailing slash)"
## Problem
Getting internal server error on `/events` endpoint.

Traceback:
[code]

I suggest that the problem was caused with [these two lines](https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/controller.py#L172-L173), but I may be wrong.

## TODO
Investigate this bug and fix it

[2015-06-26 20:54] anxolerd opened #33 "Hidden fields are not supported"
There is no hidden fields support in regform.

My case:
[code]

![Image of form](http://ibin.co/26bXXNPuEEjf)

I suppose that happens because of [these lines] (https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/model.py#L133-L160). There is no 'hidden' field in `SQLAlchemy` model.

[2015-07-14 08:42] anxolerd opened #35 "Hardcoded database credentials in alembic.ini"
You have database credentials hardcoded in `config/dev/alembic.ini` You should avoid doing this. You can edit `env.py` alembic script where you read db credentials from config file and use them.
Use `config.set_main_option` function of config object to do that.

[2015-07-14 08:46] anxolerd opened #36 "Lack of documentation"
Please, provide the development notes to README.md or create corresponding wiki.
For example, write how to completely prepare development environment, set up database, write about making migrations, etc...

[2015-07-14 08:47] anxolerd commented on #36
\cc @anxolerd @webknjaz

[2015-07-14 09:01] webknjaz commented on #33
Is this issue fixed?

[2015-07-14 09:36] anxolerd commented on #33
It should be fixed now.
I'll be able to check it in the evening.

[2015-07-14 18:42] anxolerd commented on #33
@webknjaz it seems this issue has been fixed=)

[2015-07-14 18:50] anxolerd commented on #18
@zasadnyy what did you mean saying _"during additional registration"_ ?
Did you mean "during registration by invite code" or "during registration opened again by exceeding max_regs value"?

@webknjaz I guess @bluebirrd meant, we should remove this banner if user tries to register via invite code. Probably we can do that by adding additional check on invite code.

[2015-07-14 18:58] anxolerd commented on #15
@olostan see #33 and #34
For now `JSON` only supported

[2015-07-15 05:30] cleac opened #37 "Update design of the confirmatiom letter"
Confirmation link in confirmation letter is invisible (e.g. on the picture).
![letter_conf](https://cloud.githubusercontent.com/assets/8603674/8691448/92a4cdaa-2acb-11e5-97b5-df53a5205fda.png)

[2015-07-15 06:27] webknjaz commented on #15
@anxolerd is this supported by form template?

[2015-07-15 06:38] anxolerd commented on #37
@cleac This is not the issue of this repository.
Please report it to the [appropriate|https://github.com/GDG-Ukraine/gdgregform] repository.

[2015-07-15 06:40] anxolerd commented on #15
@webknjaz at least it worked on my local setup.

[2015-07-15 08:45] webknjaz commented on #15
Just follow the code and check all login

[2015-07-15 10:46] anxolerd commented on #15
@webknjaz https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/templates/register.html#L228-L235
I've noticed such wrapper around each field.

[2015-07-15 11:01] webknjaz commented on #15
LGTM.

[2015-07-15 11:01] #15 closed

[2015-11-17 12:30] webknjaz opened #38 "Make slack integration"
Build slack bot, posting event registrations to channel.

[2015-11-17 12:33] #19 closed

[2015-11-30 14:50] webknjaz opened #39 "Reconsider registration closing conditions"
/cc: @bluebirrd @anxolerd @olostan

[2015-11-30 16:47] webknjaz opened #40 "Make async back-end Google+ Sign-In auth"
Doc: https://developers.google.com/identity/sign-in/web/backend-auth
https://developers.google.com/identity/sign-in/web/sign-in
#41

#79

[2015-12-02 13:53] webknjaz opened #41 "Add `angular-directive.g-signin` directive"
http://jeradbitner.com/angular-directive.g-signin/

[2015-12-10 11:48] webknjaz commented on #33
Plz refer the commit

[2015-12-13 19:12] anxolerd commented on #39
@webknjaz my proposal is to allow organizer to set up time when registration will be closed. If organizer did not set this time, service should close registration three hours before event.

Maybe @olostan and @bluebirrd have another ideas.

[2015-12-22 23:27] anxolerd commented on #29
## Problem:
It is unclear, why user's response cannot be saved. Hence user may spend a lot of time trying to register to event without any success because he entered too many symbols in some field
_for example, I spent 5 minutes trying to submit form with *National Technical University Of Ukraine "Kyiv Polytechnic Institute"* in the `Company` field_

## Todo:
Integrate some form validation in orde

[2015-12-22 23:32] anxolerd commented on #38
@webknjaz this is definitely not the first thing to be done.

[2015-12-24 22:49] anxolerd commented on #40
Related to: https://github.com/GDG-Ukraine/gdg.org.ua/issues/6, https://github.com/GDG-Ukraine/gdg.org.ua/issues/11

[2015-12-29 10:46] webknjaz commented on #39
@bluebirrd ping

[2015-12-29 22:48] #17 closed

[2015-12-29 22:49] webknjaz commented on #16
#26

[2015-12-29 22:53] bluebirrd commented on #39
As I know, for most events the list of participants should be given to hosts at least 1 day (20-24 hours) before the event. Also I love the idea with closing the registration after exceeding some amount, as it is now.

[2015-12-29 22:55] webknjaz commented on #5
// being tested in `api-for-admin` and `auth` branches

[2015-12-29 22:55] webknjaz commented on #4
// in progress. see `api-for-admin` and `auth` branches

[2015-12-29 22:56] webknjaz commented on #3
we don't really need this right now. closing meanwhile.

[2015-12-29 22:56] #3 closed

[2015-12-29 22:57] webknjaz commented on #1
wtf?

[2015-12-29 22:57] #1 closed

[2015-12-29 23:01] webknjaz commented on #39
This question appeared as a result of Volodymyr's concerns.
e.g. `wtf? doesn't it support registration open state open until the event starts?`

[2016-01-09 23:48] anxolerd commented on #39
@bluebirrd @webknjaz: So what is the resolution?

[2016-01-09 23:51] anxolerd commented on #38
@webknjaz could you please describe more precise what does this bot should do.
(Like should it post every registration or only when some condition happened...)

[2016-01-09 23:53] anxolerd commented on #12
@webknjaz: what is this?

[2016-01-10 00:11] anxolerd commented on #10
@webknjaz Provide more info or tag someone who can.

[2016-01-10 00:20] #31 closed

[2016-01-10 00:21] webknjaz commented on #12
#39

[2016-01-10 00:21] webknjaz commented on #12
Waitlist, I think.

[2016-01-10 10:47] webknjaz commented on #38
Every registration, for the first time.

[2016-01-10 10:50] webknjaz commented on #10
It's all about to typical website pages like Abuse, Terms of use, Disclaimer etc.

[2016-01-10 17:47] webknjaz opened #44 "[Idea] Register visit button"
I think we may add a button called 'Record visit' or so to /card/{aes_hash} page visible for admins only.

Click on the button should call Admin API (see #72), which will trigger setting `EventParticipant.visited = True`.

This way we'll account event participants.

[2016-01-10 17:49] anxolerd commented on #44
I like the idea, however I'm not sure about the implementation.

[2016-01-10 17:55] webknjaz opened #45 "[Idea] QR for unregistered guys"
Should help with workflow, mentioned in #44.
If one came to the event without registration we cannot account him, so Volodymyr usually passed that horrible paper-based solution.

The point is to create a QR with registration link  and print it. This may require creation of a special unlimited `Invite` entity.

[2016-01-10 17:57] webknjaz commented on #44
After merging `api-for-admin` it should be possible to check whether user is admin. What's the problem you're talking about?

[2016-01-10 22:32] anxolerd commented on #36
partialy done in https://github.com/GDG-Ukraine/gdg.org.ua/commit/e6f9d3df22fa9b18a635c34fbd0b45743341ed4b

[2016-01-10 23:14] anxolerd commented on #36
https://github.com/GDG-Ukraine/gdg.org.ua/wiki

[2016-01-11 14:17] #27 closed

[2016-01-12 18:39] webknjaz opened #46 "Secure/restrict data exposed by API"

[2016-01-15 18:20] anxolerd commented on #26
@webknjaz What is the status of this?

[2016-01-15 18:34] anxolerd opened #47 "Dependencies in setup.py"
I think there should be dependencies version in [`setup.py`](https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/setup.py#L3) in order to prevent errors when some of dependencies receives major update which breaks the existing API.

What do you think about that?

[2016-01-15 18:37] webknjaz commented on #47
You may test this approach. If it works without issues — go for it.

[2016-01-15 19:12] anxolerd commented on #47
## Goal
Prevent dependency package update break this app.

## Problem
Now we have no version specified in `setup.py`. This means that the latest version of package will be downloaded and installed. However major updates often change a lot in package API, so there is a risk that one day such update will break gdg.org.ua project

## TODO:
1. Add dependencies versions to `setup.py`
2. Test if it woul

[2016-01-15 19:26] anxolerd opened #48 "Dummy data in production"
# WTF is that?
Why there is a link to http://google.com titled as `Some testing event1234`?

**URL**: https://gdg.org.ua/events/54/register

![image](https://cloud.githubusercontent.com/assets/6533582/12362878/56d38bc4-bbce-11e5-9fed-7426cf2954ea.png)

[2016-01-15 19:29] webknjaz commented on #48
`testing` flag of `Event` model isn't implemented in this repo.

[2016-01-15 20:16] webknjaz commented on #30
N.B. In sister-repository it's been just export to Google Drive Spreadsheet. It's worth porting.
Still it may be an option to implement direct file download as well.

[2016-01-15 20:18] webknjaz commented on #32
It's a bug of https://github.com/bbangert/routes
There's nothing we can do at the moment.

[2016-01-15 20:23] webknjaz commented on #33
This workaround should be reconsidered after merging `api-for-admin` into master

[2016-01-15 22:53] anxolerd commented on #46
#TODO: discuss possible ways to do that

[2016-01-15 23:09] anxolerd opened #50 "Refactor hidden fields support"
## Problem
In #34 a workaround to support hidden fields was added. That was done because there were some troubles with [`JSONEncodedDict`](https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/model.py#L25-L43) and [`blueberrypy-wk`](https://bitbucket.org/webknjaz/blueberrypy-wk) working together.

## TODO
Refactor existing implementation so it could work straight without workaround

[2016-01-15 23:11] anxolerd commented on #33
@webknjaz reconsiderations you mentioned and required refactorings will be done in separate task:
https://github.com/GDG-Ukraine/gdg.org.ua/issues/50

[2016-01-15 23:11] #33 closed

[2016-01-19 20:16] anxolerd commented on #18
# TODO:

-- @bluebirrd

[2016-01-19 21:05] #30 closed

[2016-01-19 21:21] #18 closed

[2016-01-19 21:39] anxolerd commented on #48
@webknjaz why is it called `testing` ? Shouldn't it be called `show_in_upcoming_list`?

[2016-01-19 21:43] anxolerd commented on #16
Closing as duplicate of #26, which has more precise title.

[2016-01-19 21:43] #16 closed

[2016-01-19 21:59] webknjaz commented on #48
because @olostan called it this way.

[2016-01-19 22:01] webknjaz commented on #26
There's Gmail API integration in `api-for-admin`

[2016-01-19 22:09] anxolerd commented on #47
Done in 72f52fc
Merged into [`api-for-admin`](https://github.com/GDG-Ukraine/gdg.org.ua/tree/api-for-admin) in f0c9da3

[2016-01-19 22:09] #47 closed

[2016-01-19 22:11] anxolerd commented on #22
ping @bluebirrd

[2016-01-19 23:29] webknjaz commented on #35
Done in 72cbf8b

[2016-01-19 23:29] #35 closed

[2016-01-19 23:31] webknjaz opened #52 "Implement url_for in the project"
WIP (`url-for` branch)

[2016-01-20 20:52] webknjaz opened #53 "Implement wise tests"
Borrow some techniques from https://bitbucket.org/Lawouach/cherrypy-recipes/

[2016-01-20 20:53] webknjaz opened #54 "Configure CI"
e.g. Travis, Circle etc.

[2016-01-21 14:57] webknjaz opened #56 "Implement WSGI app to integrate with nginx"

[2016-01-21 22:04] webknjaz opened #57 "Make automated environment setup"
Use Vagga or smth similar for this.

[2016-01-22 16:05] webknjaz opened #58 "Upgrade requests-oauthlib to v0.6.0"
https://github.com/requests/requests-oauthlib/compare/v0.5.0...v0.6.0
http://requests-oauthlib.readthedocs.org/en/latest/oauth2_workflow.html
https://github.com/requests/requests-oauthlib/blob/master/HISTORY.rst#v060-14-december-2015

[2016-01-22 20:26] anxolerd commented on #54
Please, provide, what should that CI do?
Just run codestyle check and tests? Or something more?

[2016-01-22 20:42] webknjaz commented on #54
Yes, it should execute `pre-commit run --all-files` and run tests.
I think, we need `tox` here.
For now, the only test passing here is:

    NOSE_TESTCONFIG_AUTOLOAD_YAML=config/test/app.yml nosetests -w src/tests --tests=test_utils
I think, we should fix others first.

[2016-01-23 10:07] anxolerd commented on #54
I'll do that

[2016-01-24 12:31] anxolerd commented on #52
Merged into `api-for-admin` branch

[2016-01-24 12:32] webknjaz commented on #4
@anxolerd please help me check whether I forgot anything and add missing points to the list.

[2016-01-24 12:34] webknjaz commented on #58
@anxolerd are you sure you want to dig into that lib's bugs? I'd postpone it, since it works with `v0.5.0`

[2016-01-24 12:36] anxolerd commented on #58
@webknjaz: I'd like to dig into it. I'll do that as soon I'll have no other urgent tasks to do.
But yes, you may postpone it. Probably, that is better solution.

[2016-01-24 12:48] webknjaz opened #59 "Rewrite admin using Angular2"
* [ ] Configure compilation of `TypeScript` into JS
* [ ] Make `BlueberryPy` serve initial template and Angular's static
* [ ] Implement and decompose app into
 * [ ] Router
 * [ ] Components
 * [ ] API resources
 * [ ] Auth service
 * [ ] convert template syntax

[2016-01-24 13:05] webknjaz commented on #54
@anxolerd plz consider making flake8 ignore migrations by adding them to `tox.ini`. E.g. https://github.com/bluebirrd/nau-timetable/blob/master/tox.ini

Also plz configure `tox` to make running tests locally comfortable.

[2016-01-24 13:18] webknjaz opened #60 "Automate deployment process wisely"
TODO: Test usage of smth like `puppet` or `ansible` to do deployment. Pick the most comfortable and useful one.

[2016-01-24 18:27] webknjaz opened #61 "Unify development, running and testing management"
I'd add `Makefile` for this purpose. E.g. https://github.com/webknjaz/webchallenge-ato-children/blob/master/Makefile
This will help us unify commands regardless of whether we build front-end, static or run server.

[2016-01-24 18:40] #52 closed

[2016-01-24 23:26] anxolerd commented on #4
@webknjaz I've added all points I found to not appear in your list to the task description.

[2016-01-24 23:31] anxolerd opened #63 "Feature flags"
I think, it would be convenient to have some system of enabling/disabling features quickly in production.

@webknjaz, @bluebirrd: what do you think about that?

[2016-01-24 23:32] anxolerd commented on #14
I think, it would be better to reduce number of fields in it.

/cc @webknjaz

[2016-01-25 14:57] webknjaz commented on #10
@gora050 you may take this one.

[2016-01-25 15:04] webknjaz opened #64 "Consider applying new design"
See https://github.com/GDG-Ukraine/gdg-org-ua-site

* [ ] Migrate index page losely
* [ ] Migrate about page
* [ ] Migrate all issues from that repo

[2016-01-25 19:56] anxolerd commented on #64
First of all it requires some design adjustments. Especially on the index page (map behavior and size).

The best option is to have `.psd` or `.ai` file for different screen resolutions. @webknjaz: please, ping someone who can provide it.

[2016-01-26 00:15] webknjaz opened #66 "Make nicer error handlers"
* [ ] Implement known error handlers
http://docs.cherrypy.org/en/latest/pkg/cherrypy.html?highlight=error_response#custom-error-handling

* [ ] Deal with unexpected error handler (how?)
https://github.com/GDG-Ukraine/gdg.org.ua/blob/api-for-admin/src/GDGUkraine/rest_controller.py#L527

* [ ] Traceback switch
https://bitbucket.org/cherrypy/cherrypy/src/da5e7fa6cb75acc0d03efcd16eb3266d790a9c6f/cherr

[2016-01-26 00:34] webknjaz opened #67 "Adjust template tests to make them pass"
Postpone till `api-for-admin` merged

[2016-01-26 22:10] #54 closed

[2016-01-27 00:14] #46 closed

[2016-01-27 20:39] anxolerd commented on #10
[2016-01-27 22:38 EET] Updated issue description. @webknjaz please, check if everything is correct there.

[2016-01-27 22:15] webknjaz commented on #5
In `api-for-admin` you may retrieve api instance as follows and run any query you want:

[code]

/cc: @anxolerd

[2016-01-27 22:16] webknjaz commented on #5
TODO: implement token autorefresh from https://requests-oauthlib.readthedocs.org/en/latest/oauth2_workflow.html#third-recommended-define-automatic-token-refresh-and-update

@anxolerd would you take this?

[2016-01-27 22:35] webknjaz opened #70 "Implement auto-refresh token strategy for OAuth2"
Implement token autorefresh from https://requests-oauthlib.readthedocs.org/en/latest/oauth2_workflow.html#third-recommended-define-automatic-token-refresh-and-update in existing plugin.

[2016-01-27 22:35] webknjaz commented on #5
I've created #70 for this purpose.

[2016-01-27 22:35] #5 closed

[2016-01-27 22:41] webknjaz opened #71 "Fix angular UI"
I've mentioned inability to set the date in admin UI. Need to fix this and check for any other inconsistencies.

[2016-01-27 22:41] #67 closed

[2016-01-27 22:43] webknjaz commented on #64
@anxolerd we don't have those. Is was done by @ozasadnyy a long ago, but I'm not sure whether he still has anything.

[2016-01-27 22:43] webknjaz commented on #63
This should be postponed and prioritized later.

[2016-01-27 22:46] webknjaz commented on #45
@gora050 plz consider implementing this

[2016-01-27 22:47] webknjaz commented on #44
@gora050 would you deal with this?

[2016-01-27 22:53] ozasadnyy commented on #64
It would be much better to begin from the scratch.

[2016-01-27 22:55] webknjaz opened #72 "Implement event check-in handler"
TODO:

implement handler for `POST /api/events/:id/check-in`, which will set `EventParticipant.visited = True` in `rest_controller.py`.

It should return this participant's registration data.

Plz don't forget to secure access to this endpoint. Only admins should be able to reach it.

[2016-01-27 22:59] anxolerd commented on #71
@webknjaz: please provide the corresponding url and screenshots. If there is any error log, please attach it to the issue as well.

[2016-01-27 23:05] webknjaz opened #73 "Remove ugly error pop-up from admin UI"
Replace it with something pleasant.

[2016-01-27 23:09] anxolerd commented on #22
ping @bluebirrd

[2016-01-27 23:16] anxolerd opened #74 "Test coverage"
## Objective
Protect project from being accidentally crashed with random commit.

## Problem
There are only 3 working tests in the repository. These are definitely too little to cover at least 50% of project's functionality. Hence there is a great possibility that random commit will break the application, cause there is no good way (manual testing is not a good way) to verify if nothing was broken

[2016-01-27 23:41] webknjaz commented on #74
#53

[2016-01-27 23:48] anxolerd commented on #2
@webknjaz  is it still actual?

[2016-01-28 10:45] webknjaz commented on #71
@anxolerd If you open event and modify date, you'll mention validation errors in console.

[2016-01-28 18:50] webknjaz commented on #2
I think, yes. Let's implement this in regform front-end.

[2016-01-28 18:54] webknjaz commented on #10
@anxolerd texts should be crowdsourced, I think nobody can help us with this.
Perhaps we could do this all together.

//cc: @bluebirrd

[2016-01-28 19:50] ozasadnyy commented on #64
No, I am doing another projects.

[2016-01-28 23:54] webknjaz commented on #71
[code]

[2016-01-29 00:02] webknjaz commented on #71
Fixed by fd6a50b25a5c397affa3a7cb0f6ae5047c0e6995

[2016-01-29 00:02] #71 closed

[2016-01-29 00:23] #70 closed

[2016-01-31 08:17] webknjaz opened #78 "Add .editorconfig"
http://editorconfig.org/

[2016-01-31 22:49] webknjaz opened #79 "Migrate regform front-end to Google Identity Platform"
Just do simple upgrade:
https://developers.google.com/identity/sign-in/web/quick-migration-guide

#6

[2016-01-31 22:51] webknjaz commented on #4
@anxolerd Basic points are all fulfilled. Let's merge #77

[2016-01-31 22:51] #4 closed

[2016-02-01 10:59] webknjaz commented on #40
Basically implemented

[2016-02-01 10:59] #40 closed

[2016-02-01 19:27] webknjaz commented on #73
Made it gray.

[2016-02-01 19:27] #73 closed

[2016-02-01 20:03] cleac opened #81 "Big and inconvenient configuration stored in environment variable"
### Problem

This:
[code]
looks really awful and inconvenient for usage. It is hardly understandable for those, who wants to start development environment on his own machine (like me)

### Solve

I think that good idea is to use some configuration file written in same JSON, but well formatted. This file should be loaded automatically when starting a

[2016-02-01 20:51] anxolerd commented on #81
@cleac: you can edit `config/dev/app.yml`. You can find there sections for editing
 - [google_oauth](https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/config/dev/app.yml#L9-L11)
- [sqlalchemy and alembic db url](https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/config/dev/app.yml#L48)

But be careful not to push this file into repository. In order not to edit any files you can use store yo

[2016-02-01 21:02] cleac commented on #81
@anxolerd: now I see it.
Maybe, another thing that can be done with this is a little script that asks all of these parameters automatically, with saving it into ignored by git file (add it into .gitignore)

[2016-02-01 21:29] webknjaz commented on #32
Should be fixed if this accepted https://github.com/bbangert/routes/pull/58

[2016-02-01 21:36] webknjaz commented on #81
This is not django with some tricky `local_settings.py`.
It's easy to set the variables beforehand and put in `.zshrc`/activation script/whatever.

I've implemented it to avoid editing of ignored files and putting credentials there. This dict just patches existing config with new values.

Nevertheless, this code is not related to this repo. It's stored in `blueberrypy-wk` project on bitbucket.
Clo

[2016-02-01 21:36] #81 closed

[2016-02-01 21:54] webknjaz commented on #48
Done

[2016-02-01 21:54] #48 closed

[2016-02-01 21:55] webknjaz commented on #41
Added, but doesn't work as expected. Needs reconsideration.

[2016-02-01 22:14] webknjaz commented on #37
@cleac you can now do this in `src/GDGUkraine/templates/email/confirmation.html`, but keep in mind we didn't upload this code to production and didn't expose the possibility of using new admin yet.

[2016-02-01 22:16] webknjaz commented on #66
Partially done for REST API.

[2016-02-01 22:18] webknjaz commented on #29
@anxolerd I've enabled wrapping http errors into JSON for REST API. You may use this possibility.

[2016-02-01 23:12] webknjaz opened #82 "Set up dev workflow"
* [ ] Describe everything in `CONTRIBUTING.md`
* [ ] Configure Gerrit
https://review.gerrithub.io/static/intro.html
https://review.gerrithub.io/#/admin/projects/GDG-Ukraine/gdg.org.ua

[2016-02-02 00:37] webknjaz commented on #61
@anxolerd Dropped it to `master`. Plz test.

[2016-02-02 00:37] #61 closed

[2016-02-03 13:42] webknjaz opened #83 "Inherit custom RoutesDispatcher"
Make workaround for exception inside of Routes (#32) while resolving empty-string URL: wrap `__call__` method of `cherrypy.dispatch.RoutesDispatcher`.
Keep this workaround until bbangert/routes#58 accepted.

[2016-02-03 13:44] webknjaz commented on #32
#83 will be temporary workaround for that

[2016-02-03 13:56] webknjaz opened #84 "Make better structure/refactor"
Implement component-based folder layout.
Put controllers altogether, separate API etc.

[2016-02-03 14:17] webknjaz opened #85 "List blog posts somewhere under /blog or /posts"
I've got `gdg_blog_posts` view in production gathering all posts with authors from WP blogs.

Let's list them somewhere in our app :)

* [x] @MrGALL adds the view
* [ ] Implement SQLAlchemy model (marked as view)
* [ ] create templates and map to URL

[2016-02-03 14:20] webknjaz commented on #84
@bluebirrd and I will be traveling in Norway on Feb 7-17.

@anxolerd and @gora050 It would be nice if one of you complete this task while we're away.

[2016-02-03 19:54] bluebirrd commented on #22
I'd make it event-specific and add some default value.

If event creator doesn't want to change the placeholder, let him do so. But if someone wants to put some custom stuff for a specific event (for example, IWD Fest or brand new geeky event with technologies no one knows about yet), I guess this placeholder should be changed **only** for this particular event, since those hints may not be suitab

[2016-02-03 20:04] bluebirrd commented on #39
Ok guys, as I haven't heard any objections to my proposal, let's do the following:

Registration closes in 3 cases:

1. The time of closure has come
2. The limit of attendees was crossed

Both settings (time and reg limit) can be set by

[2016-02-03 20:15] bluebirrd commented on #63
@anxolerd, nice idea, but I'm not sure about the urgency of doing this. I'll check out everything in here and tell you the priority in 1-2 days.

[2016-02-03 21:14] webknjaz commented on #39
So let's force Ivanov set event date one day further if he ran wants to register guys on the day of event

[2016-02-03 21:38] cleac commented on #37
OK,  I will think,  what can be done for this. I'm going work on and post here my idea of look tomorrow or the day after

[2016-02-03 23:50] #83 closed

[2016-02-03 23:50] webknjaz commented on #83
Found better solution.

[2016-02-04 01:01] webknjaz commented on #84
@cleac you may join as well

[2016-02-04 06:39] cleac commented on #84
@webknjaz @anxolerd @gora050 I'll help, if needed ('cause I'm not very good in project structure, I'm not sure I'll handle this myself  - but I'm working on it)

[2016-02-04 06:42] cleac commented on #37
@bluebirrd just one little moment - this mail should be only in English language or it's better make some different languages versions (e.g. Russian)?

[2016-02-06 19:08] webknjaz opened #86 "Agenda creator"
I think it would be nice to implement some wizard for event agenda creation.

It will include:
* Admin UI (for the one implemented in Angular2)
* Back-end API design and implementation
* Agenda view in the event
* Making it downloadable/sendable/printable/sharable
* Sending the agenda to participants via email (one day before event, upon registration and manually)

@anxolerd @cleac @bluebirrd @gor

[2016-02-06 20:29] cleac commented on #86
@webknjaz cool idea, in fact. I kind of like it.
And also I think that there will be very much work to do it, am I right?

[2016-02-07 08:13] webknjaz opened #87 "Assign priorities"
I've created a bunch of labels for specifying issue priorities from P1 (urgent, highest priority level) to P5 (give up on task and never think of it anymore).
Plz iterate through all tickets and assign them with corresponding priority.

[2016-02-07 10:54] webknjaz commented on #87
@cleac @anxolerd @gora050 you may use those as well

[2016-02-07 10:56] webknjaz commented on #32
I've temporary set a commit-based requirement from github repo. TODO: change for version specificator once it's released.

[2016-02-09 19:59] webknjaz opened #88 "Run tests in vagga on CI"
Tox has some bugs which make testing of our project difficult. In #113 vagga containerization is being added alongside with tests in container. Probably it would be good to use them in CI.

~~https://github.com/ryanhiebert/tox-travis~~

[2016-02-11 19:34] cleac opened #89 "Little bugs in makefile"
## Problem
Found several bugs while building the project using `make`. The problem is on `make dev-deps` stage of building. Install fails
 - While installing bower - it wants for `npm -g install bower` be run under administrator privileges
 - While upgrading pip - the `pip install install --no-use-wheel -U -r -U pip` is called, while `pip install -U pip` must be

[2016-02-11 21:32] webknjaz commented on #89
There's a recommendation about using `nvm` in README

[2016-02-13 20:26] anxolerd commented on #88
I do not like tox at all. Especially its buggy templating system. I'd rather throw it away instead of applying new workarounds to make it work probably better.

[2016-02-14 21:22] webknjaz commented on #88
Do you have any alternate suggestions of how to run tests in several environments?

[2016-02-19 06:31] #89 closed

[2016-02-20 22:44] webknjaz opened #92 "Add Sphinx for automatic documentation"

[2016-02-21 20:22] #85 closed

[2016-02-26 20:14] webknjaz opened #94 "Implement tests for #93"
Test #93
* [ ] drop `/auth/fake-login`
* [ ] Mock sessions as in this example: http://stackoverflow.com/a/39044461/595220

[2016-02-26 20:35] #72 closed

[2016-03-20 18:31] gora050 commented on #44
In progress +

[2016-03-22 18:11] #44 closed

[2016-03-23 09:01] webknjaz opened #96 "Fix radio buttons custom field to be required"
Issue
====
By default no options selected and this case is not being validated. :hankey:

Proposal
=======

Either make first option selected or validate that manually.

[2016-03-23 09:03] webknjaz commented on #96
@anxolerd @cleac @bluebirrrrd @gora050 @phiNumber ideas?

[2016-03-25 12:15] webknjaz opened #98 "Improve exception re-rasing"
TODO
=====

Replace raising syntax with better version in `except` blocks everywhere if possible.

old way:
[code]

better way:
[code]

[2016-03-25 13:23] bluebirrrrd opened #99 "Fix sending confirmation requests"
# Issue
Each try to send confirmation emails returns an error:
On page: `Something happen while approving, so some application could be not approved or notifications not sent.`
In console:
`angular.min.js:106 POST http://reg.gdg.org.ua/api/events/55/send-confirm 500 (Internal Server Error)`

# Steps to reproduce
1. Open list of participants of some event
2. Select 1 or more participants
3. Click "

[2016-03-25 16:10] webknjaz commented on #99
@bluebirrrrd this is not repo for deprecate NodeJS admin panel.

[2016-03-25 16:17] #99 closed

[2016-03-25 16:33] webknjaz opened #100 "Logging improvement"
TODO
=====

Add more logging across whole app

[2016-03-25 21:56] anxolerd commented on #99
@webknjaz :

1. Until you release python admin for end user (I mean, when you inform users, that we have "brand new" admin console), [NodeJS admin](https://github.com/GDG-Ukraine/gdgregform) is not deprecated.
2. Behavior Anna reports might be caused by latest fixes, where credentials, which were hardcoded and pushed into this repository, were moved into config file. Probably config file was not u

[2016-03-26 05:31] webknjaz commented on #99
@anxolerd
1) @bluebirrrrd is aware of new admin panel, which has this feature working, so she'll be able to use this feature
2.1) google credentials are stored as an environment variable (and I've replaced them back then, when Valentyn removed app key in Cloud Console)
2.2) If there were no credentials available to app nobody would be able to even log in, so it's not the case. It looks more like u

[2016-03-29 05:35] webknjaz commented on #37
@cleac status?

[2016-03-29 18:42] webknjaz opened #101 "Add possibility of customizing (appending) emails. Additionally #37"
$sbj.

Related: #37.

[2016-03-30 19:22] cleac commented on #37
Made a draft of email I'm going to make. Here is what it's look like for now.
@webknjaz @bluebirrrrd @anxolerd Check out, please. What you thing about it?

![text4245-4-6](https://cloud.githubusercontent.com/assets/8603674/14154560/bd051908-f6c5-11e5-8a7b-93871f281e71.png)

[2016-03-31 08:07] bluebirrrrd commented on #37
It looks nice. Minor fixes of text are needed, but the whole picture is good.

[2016-03-31 08:13] bluebirrrrd commented on #37
Also I'd add a confirmation deadline since attendees may try to verify their visit, for example, 1 hour before the event.

[2016-03-31 08:42] webknjaz commented on #37
@bluebirrrrd that is not directly related to the task of redesign.

[2016-03-31 08:43] webknjaz commented on #37
@cleac feel free to create PR, so we could continue discussion there.

[2016-03-31 08:50] cleac commented on #37
@webknjaz at the moment, it is just the designing, it is not implemented yet :smile:

[2016-03-31 09:20] webknjaz commented on #37
@cleac still, you may share your branch once you have single change in it :)

[2016-03-31 09:23] cleac commented on #37
@webknjaz I guess I will :smile:

[2016-03-31 09:24] cleac commented on #37
@anxolerd Still waiting for your response

[2016-03-31 09:29] cleac commented on #101
Very informative message :smiley:

The purpose of issue is that sometimes we need to send custom emails with some reminders. E.g. *Don't forget to take your id to the next event*.

I just didn't understand - should I implement the email and the UI for it? 'Cause then the task becomes more complicated and less related to #37

[2016-03-31 09:37] webknjaz commented on #101
I guess, you should design email templates making them easily inheritable.

[2016-03-31 11:19] cleac commented on #101
Then I see why they are related

[2016-03-31 11:20] cleac commented on #101
Will do while doing #37

[2016-03-31 13:27] bluebirrrrd commented on #37
@webknjaz, I guess it is related, since this part should be added to new template. I'm not talking about any backend implementation, just another abstract in email

[2016-03-31 13:51] cleac commented on #37
@bluebirrrrd it's easy to change text in template. You can write changes you want me to do here, or wait until i'll post PR and make changes by yourself

[2016-03-31 14:13] webknjaz commented on #37
I think, continuously changing the task is not a good idea. Only directly related notes should be added here.

[2016-04-04 07:20] webknjaz opened #102 "Design and implement better permission management"
*partially done*

* [X] Create master-child relationships in DB
* [ ] Implement ACL. Currently the only distinction is between normal mode (only user's GDG events available, no access to participants list) and godmode (all GDG events available, all participants are viewable). Consider following:
 * [ ] Adding new GDGs/WTMs
 * [ ] Adding new admins
 * [ ] Some GDGs as subchapters of others
 * [ ] P

[2016-04-07 08:51] #29 closed

[2016-04-08 08:32] webknjaz opened #103 "Improve error highlighting on registration form page"
See #91.

* [ ] Add styling to errors to make them noticeable (at least make them red-colored)
* [ ] Fix missing error areas for some of other fields

[2016-05-07 08:29] anxolerd opened #105 "Validation issues"
# Description
Website field is validated incorrectly

# scenarios

## scenario 1
### STR

1. Go to registration page
2. Leave website field empty
3. Submit form

### expexted result
No validation errors on website field

### actual result
Validation error on website field, saying `Invalid URL`

## scenario 2

### STR

1. Go to registration page
2. Write `https://plus.google.com/+OlexandrKovalchuk`

[2016-05-15 16:28] webknjaz opened #107 "JFI: email sending issues"
Right now Google experiences some issues with their API. In admin panel on chart they show 8300 requests performed today, still the table below shows there are only 83 queries performed.

Perhaps, their quota limitations are broken. Need to wait for resolution.

[2016-05-16 11:14] webknjaz opened #108 "Add background tasks mechanism"
See http://stackoverflow.com/a/36750783/595220

[2016-05-18 22:03] #107 closed

[2016-07-25 10:38] webknjaz opened #109 "Add Google Analytics to all templates"
There's one @ `[src/GDGUkraine/templates/gdg.org.ua_old.html](https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/templates/gdg.org.ua_old.html#L56-L65)`

TODO: move that GA code to base template.
Ideally: make main page template extend base.

Importance: currently we are unable to track the sources of traffic coming to registration forms, which could be extremely useful

[2016-07-25 15:06] webknjaz opened #110 "Consider using PBR"
As in https://github.com/openstack/oslo.config/blob/master/setup.py

[2016-07-29 11:32] webknjaz opened #111 "Enable pass-tcp-socket in vagga"
https://vagga.readthedocs.io/en/latest/commands.html?highlight=lithos#opt-pass-tcp-socket

Socket activation is already available in CherryPy 7.1.0

Depends on: #57

[2016-07-31 21:40] #109 closed

[2016-08-19 22:19] anxolerd opened #112 "Dangerous copy-pasted code"
Piece of code in errors.py (https://github.com/GDG-Ukraine/gdg.org.ua/blob/master/src/GDGUkraine/errors.py#L92-L199) was copy-pasted from cherrypy source and uses private methods, and modules of cherrypy.

This mean that any CherryPy update may broke this code.

To avoid breaks this code should be reconsidered and refactored without relying on private methods of anything

[2016-08-20 19:46] webknjaz commented on #87
ping

[2016-08-20 19:54] webknjaz commented on #112
I like your point, as I recall I did this to close some feature immediately. This should be fixed for sure :)

[2016-08-20 20:44] webknjaz commented on #103
#105

[2016-08-20 22:23] anxolerd commented on #87
I'll take a look into this

[2016-08-20 22:30] anxolerd commented on #110
@webknjaz: please add some description about what is PBR and what is our motivation to use it?

[2016-08-20 22:32] #74 closed

[2016-08-20 22:32] anxolerd commented on #74
Closed as duplicate

[2016-08-20 22:40] anxolerd commented on #32
@webknjaz is it done?
I cannot reproduce the bug anymore.

[2016-08-20 22:43] anxolerd commented on #41
If the directive does not work, please remove it in order to keep code as clean as possible.

[2016-08-20 22:50] anxolerd commented on #87
Well, as for this.

If we use waffle as a task dashboard then let's consider the following convention:

1. Task are grouped in columns.
  - Backlog -- any opened issues, which require requirements validation
  - On hold -- postponed. Do these only if current ready for dev column is empty
  - Ready for dev -- actual task which should be done
  - In dev -- tasks which are in progress now
  - Done --

[2016-08-20 22:51] anxolerd commented on #92
Combine that with #36

[2016-08-20 22:54] anxolerd commented on #60
Postpone for now.
It is impossible to automate deployment without having stable master or any other release branch.

[2016-08-20 22:56] anxolerd commented on #12
not required for now, Closing.

[2016-08-20 22:58] anxolerd commented on #94
Partial duplicate of #53
Closing as duplicate

[2016-08-20 23:01] anxolerd commented on #58
I do not even remember, what is this all about. Closing as wtf.

[2016-08-21 11:14] webknjaz commented on #87
ok, but labeling should still be considered.

[2016-08-21 11:19] webknjaz commented on #94
#53 is too wide, I've created this for a small change. So it will be possible to create commit with "Closes #94", not affecting other aspects.

[2016-08-21 11:22] webknjaz commented on #58
v0.6.0 introduces some incompatibilities, which lead to breaking our auth. You aimed to investigate how to change our code to migrate to new version safely.

[2016-08-21 11:28] webknjaz commented on #12
why not?

[2016-08-21 11:28] webknjaz commented on #12
Why not?

[2016-08-21 11:43] #105 closed

[2016-08-21 11:43] #96 closed

[2016-08-21 11:43] #103 closed

[2016-08-25 10:07] webknjaz commented on #110
I hope it will help us keep all dependencies in one place. It's an OpenStack project: http://docs.openstack.org/developer/pbr/ / https://pypi.python.org/pypi/pbr / https://github.com/openstack-dev/pbr

[2016-08-25 12:18] webknjaz commented on #32
AFAIR, I've fixed this inside of `routes`

[2016-08-25 12:18] #32 closed

[2016-08-25 12:22] webknjaz commented on #32
https://github.com/bbangert/routes/pull/58/files

[2016-08-25 12:22] webknjaz commented on #32
https://github.com/GDG-Ukraine/gdg.org.ua/blob/edb0d0651c1345818e8863f9824b3fa64c7e0dcd/requirements/common.txt#L1

[2016-08-25 12:24] webknjaz commented on #41
I think, it may be fixed. Just didn't figure out how

[2016-08-25 12:26] webknjaz commented on #92
I'd like to keep it separate sub-task of #36.

[2016-08-27 19:27] anxolerd opened #114 "Bad url for check-in handler in card template"
It is strange that there are two occurrences of `api` in url:

![image](https://cloud.githubusercontent.com/assets/6533582/18029610/5dd3eeae-6ca5-11e6-84fd-c1d43b8baadc.png)

[2016-08-27 19:41] anxolerd commented on #82
Needs to be done as soon as current ASAP and CRITICAL tasks will be completed.

[2016-08-27 19:53] anxolerd commented on #66
Close as it was moved to #112

[2016-08-27 19:53] #66 closed

[2016-08-27 20:01] anxolerd commented on #12
It cannot be implemented right now, and we will definitely forget about it when the following functionality will be implemented. Closing.

[2016-08-27 20:02] #12 closed

[2016-08-27 20:14] anxolerd commented on #2
:eto-ne-nuzhno:

[2016-08-27 20:14] #2 closed

[2016-08-27 20:27] anxolerd commented on #14
We do not need to explain why form is so long, but reduce form instead.

[2016-08-27 20:27] #14 closed

[2016-08-27 20:31] anxolerd opened #115 "Refactor db structure and form"
# Problem
There is a mess in database:
- Strange table naming
- Redundant fields in entities
- Luck of really required fields in form
- and so on and so forth

The registration form is also too long — it does not fit event two screens =(

# TODO
- Normalize database
- Refactor fields in db
- Reduce number of fields in form

[2016-08-27 20:40] anxolerd commented on #88
[2016-08-27] update issue topic and description.

[2016-08-28 10:06] cleac commented on #37
Goddamn, this design is as creepy as previous. I think, can do better.

[2016-08-29 18:21] webknjaz commented on #37
Yeah, much more creepier :)

[2016-08-29 19:47] webknjaz commented on #114
not reproducible locally. perhaps needs re-deployment

[2016-08-29 19:56] webknjaz commented on #114
not reproducible @ dev.gdg.org.ua as well

[2016-08-29 20:06] #114 closed

[2016-08-29 20:07] webknjaz commented on #114
Fixed with re-deployment

[2016-08-30 07:07] anxolerd commented on #114
:+1:

[2016-09-02 14:32] webknjaz opened #116 "Consider having phone number verification"
https://get.digits.com/pricing

[2016-09-14 06:27] cleac commented on #37
Working on this thing. Tell me, what you think?
![g4196](https://cloud.githubusercontent.com/assets/8603674/18502050/5765932c-7a5d-11e6-8212-fd88db470135.png)

P.S. Sorry for so long :sweat_smile: It took me a bit time to gain some ideas :smile:

[2016-09-14 07:46] anxolerd commented on #37
Текст, можливо поміняти,  але вцілому норм)

[2016-09-14 09:17] webknjaz commented on #37
Needs grammar improvements, but the overall idea is ok

[2016-09-19 07:57] unreadableusername opened #118 "Use GitHub Projects?"
GitHub has new awesome feature
Maybe it's better to use it?

[2016-09-19 12:43] webknjaz commented on #118
We are considering this, but currently this means importing issues manually.

[2016-09-19 12:44] unreadableusername commented on #118
It is too easy too import actually

[2016-11-30 16:31] webknjaz opened #120 "Implement feature flags for smoother roll outs"
Some info on the idea of the Feature Flags and implementations:
* http://featureflags.io/python-feature-flags/
* https://github.com/disqus/gutter (UI: https://github.com/disqus/gutter-django)
* https://github.com/ashcrow/flagon
* https://github.com/brechin/pyrollout
* https://github.com/gregbaker/django-featureflags

[2016-12-15 19:29] webknjaz opened #121 "Integrate vagga to lithos generation tool"
https://github.com/tailhook/vagga2lithos

Is blocked by:
 - [ ] #113

[2016-12-18 00:18] #57 closed

[2016-12-18 00:36] webknjaz commented on #88
Done in #113

[2016-12-18 00:36] #88 closed

[2016-12-18 17:20] webknjaz commented on #120
Ref #63

[2016-12-18 17:28] webknjaz commented on #63
Closing in flavor of #120

[2016-12-18 17:28] #63 closed

[2016-12-22 14:23] webknjaz opened #122 "Move running pre-commit hooks to vagga container"
Currently it doesn't work without crutches.
Perhaps it would be possible to pre-load hooks into container during the build. Ref: pre-commit/pre-commit#456

[2016-12-29 18:02] #122 closed

[2017-01-23 09:29] webknjaz opened #125 "Think of useing pipdeptree for requirements generation"
https://github.com/naiquevin/pipdeptree

[2017-01-23 09:30] webknjaz opened #126 "Consider using wheelhouses"
Ref: https://pip.pypa.io/en/stable/user_guide/#installation-bundles
Ref: https://pip.pypa.io/en/stable/reference/pip_wheel/#cmdoption-w

[2017-02-13 10:46] webknjaz opened #130 "Integrate remote debugger into the app"
As per #128

[2017-04-27 16:22] webknjaz commented on #110
https://blog.ionelmc.ro/presentations/packaging/

[2017-04-27 17:22] #110 closed

[2017-04-27 17:39] webknjaz commented on #59
UPD: rewrite admin using Angular 4

[2017-04-28 22:12] webknjaz commented on #118
I've tried using Projects for cherrypy repo, but it turned out to be a pain in the butt.
As for now, I'm happy with waffle.io

[2017-04-28 22:12] #118 closed

[2017-05-03 18:54] webknjaz commented on #110
NOTE: now, consider using [pure setuptools>30.3](https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files)

[2017-05-03 19:13] webknjaz opened #132 "Consider using dukpy"
https://github.com/amol-/dukpy
Ref #110

[2017-05-03 19:40] #78 closed

[2017-05-12 19:26] webknjaz opened #133 "Change Travis CI config to use newly presented build stages feature"
Refs:
* https://blog.travis-ci.com/2017-05-11-introducing-build-stages
* https://docs.travis-ci.com/user/build-stages#Examples

*Note: I'd move building vagga container into a separate `preparation` stage.*

[2017-05-12 21:14] webknjaz commented on #112
Ref: [`feature/112-poc-for-html-error-handlers`](https://github.com/GDG-Ukraine/gdg.org.ua/tree/feature/112-poc-for-html-error-handlers)

[2017-05-12 22:01] #133 closed

[2017-05-16 08:56] webknjaz opened #134 "Add request tracking across all subsystems"

[2017-06-01 08:04] webknjaz opened #135 "Set up probot-stale integration"
Configure [probot-stale](https://github.com/organizations/GDG-Ukraine/settings/installations/29901) integration:
- create `.github/stale.yml`

[2017-10-13 08:48] webknjaz commented on #132
https://github.com/GoogleChrome/rendertron

[2017-11-09 19:22] webknjaz commented on #37
https://heml.io/docs/getting-started/usage

[2018-02-05 17:28] webknjaz opened #136 "Use pyriform for e2e testing"
https://github.com/the-allanc/pyriform/

[2018-04-04 13:48] webknjaz opened #137 "[idea] Consider using lithos-based env"
https://github.com/mglawica/mintaka